* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
  }
  
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
      90deg,
      rgba(65, 185, 131, 1) 0%,
      rgba(0, 212, 255, 1) 100%
    );
  }
  
  main {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  h1 {
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0px rgb(109, 109, 109);

  }
  
  hr {
    height: 4px;
    background: rgb(255, 255, 255);
    margin-bottom: 10px;
  }
  
  .game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .game button {
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor:pointer;
    font-size: 50px;
    background: linear-gradient
  }

  .currentPlayer {
    color: white;
    text-shadow: -1px -1px 0px rgb(109, 109, 109);
  }